# Module 1 - Docker, SQL and Terraform

Question 1. Version of pip (1 point)


24.3.1

24.2.1

23.3.1

23.2.1

Question 2. Docker networking and docker-compose (1 point)


postgres:5433

localhost:5432

db:5433

postgres:5432

db:5432

Question 3. Trip Segmentation Count (1 point)


104,802; 197,670; 110,612; 27,831; 35,281

104,802; 198,924; 109,603; 27,678; 35,189

104,793; 201,407; 110,612; 27,831; 35,281

104,793; 202,661; 109,603; 27,678; 35,189

104,838; 199,013; 109,645; 27,688; 35,202

Question 4. Longest trip (1 point)


2019-10-11

2019-10-24

2019-10-26

2019-10-31

Question 5. Biggest pickup zones (1 point)


East Harlem North, East Harlem South, Morningside Heights

East Harlem North, Morningside Heights

Morningside Heights, Astoria Park, East Harlem South

Bedford, East Harlem North, Astoria Park

Question 6. Largest tip (1 point)


Yorkville West

JFK Airport

East Harlem North

East Harlem South

Question 7. Terraform (1 point)


terraform import, terraform apply -y, terraform destroy

teraform init, terraform plan -auto-apply, terraform rm

terraform init, terraform run -auto-approve, terraform destroy

terraform init, terraform apply -auto-approve, terraform destroy

terraform import, terraform apply -y, terraform rm